/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #ffffff;
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav__link--portfolio::after, .nav__link--studio::after {
  position: absolute;
  top: 45px;
  left: 0px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.section-clients__title, .section-team__title, .section-direction__title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.modal__btn-close, .clients-list__link, .list-social__link, .direction-list__title, .box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-addres__link, .contacts-item__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  font-size: 14px;
}
.list-addres__link:hover, .contacts-item__link:hover, .list-addres__link:focus, .contacts-item__link:focus {
  color: #2196f3;
}

.direction-list__title, .form-subscribe__text, .page-footer__social-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.container-centering {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
@media screen and (min-width: 1200px) {
  .container-centering {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .container-centering {
    min-width: 768px;
  }
}

.logo {
  padding: 16px 0px;
  color: #212121;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 26px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 92px;
    font-size: 26px;
    line-height: 1.2;
    padding: 23px 0px;
  }
}

.logo__text {
  color: #2196f3;
}

.container-centering--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .container-centering--header {
    margin: 0px;
    min-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__link {
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav__link--studio {
  color: #2196f3;
}
.nav__link--studio::after {
  content: "";
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.list-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .list-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .list-contacts {
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.contacts-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 1199px) {
  .contacts-item__link {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.contacts-item__icon {
  margin-right: 8px;
  fill: currentColor;
}
.contacts-item__icon--envelope {
  width: 14px;
  height: 10px;
}
.contacts-item__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts-item__icon {
    margin-right: 10px;
  }
  .contacts-item__icon--envelope {
    width: 16px;
    height: 12px;
  }
  .contacts-item__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

.button-menu {
  display: block;
  margin-left: auto;
  padding: 0px;
  border: none;
  background-color: transparent;
}
.button-menu:focus, .button-menu:hover {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.modile-menu {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 40px;
  overflow: auto;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.modile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  scale: 0 1;
}

.container-flex {
  margin-bottom: 32px;
}

.modile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  padding: 0px;
  background-color: transparent;
  border: none;
}
.modile-menu__close:hover, .modile-menu__close:focus {
  fill: #2196f3;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-list__link:hover, .menu-list__link:focus {
  color: #2196f3;
}

.menu-list__link--studio {
  color: #2196f3;
}

.lict-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.lict-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 376px) {
  .lict-contacts__link {
    font-size: 27px;
  }
}

.lict-contacts__link--mail {
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.social-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-list__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .container-centering--footer {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-centering--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .footer-tablet-position {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .box-position--address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .box-position--address {
    margin-right: 70px;
    max-width: 231px;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
  color: #ffffff;
}
.list-addres__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .list-addres__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.list-addres__link {
  line-height: 1.7;
}

.list-addres__link--geolocation {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .box-position--social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .box-position--social {
    margin-right: 93px;
  }
}

.page-footer__social-text {
  margin-bottom: 20px;
}

.list-social.list-social--footer {
  padding: 0;
  margin: 0px;
}

.list-social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-social__icon--fill {
  fill: #ffffff;
}

.form-subscribe__text {
  margin-bottom: 20px;
}

.box-position--subscribe {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .box-position--subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-subscribe__input {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px 16px;
  width: 100%;
  max-width: 450px;
  color: #ffffff;
}
.form-subscribe__input:focus {
  border-color: #2196f3;
  outline: none;
}
@media screen and (max-width: 1199px) {
  .form-subscribe__input {
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    margin-right: 12px;
    width: 358px;
  }
}

.form-subscribe__btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 28px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.form-subscribe__btn:hover {
  background-color: #188ce8;
}
@media screen and (max-width: 1199px) {
  .form-subscribe__btn {
    margin: 0 auto;
  }
}

.section-hero {
  padding: 118px 60px;
  max-width: 1200px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/imgbkg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/imgbkg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-desktop@2x.jpg);
  }
}

.section-hero__title {
  margin: 0px auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .section-hero__title {
    font-size: 44px;
    line-height: 1.3;
    max-width: 696px;
  }
}

.section-hero__button {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0px auto;
  padding: 10px 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
.section-hero__button:hover, .section-hero__button:focus {
  background-color: #188ce8;
}
@media screen and (max-width: 320px) {
  .section-hero__button {
    font-size: 15px;
  }
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.box-icon {
  margin-bottom: 30px;
  background-color: #f5f4fa;
  max-width: auto;
  height: 120px;
  border-radius: 4px;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

.advantages-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantages-list__title {
    text-align: center;
  }
}

.advantages-list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.section-direction {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .section-direction {
    display: none;
  }
}

.direction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.direction-list__item {
  width: calc((100% - 60px) / 3);
}

.direction-thumb {
  position: relative;
}

.direction-list__title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-bottom: 94px;
  }
}

.section-team__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .section-team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (max-width: 767px) {
  .team-list :not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list__item {
  padding-bottom: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .team-list__item {
    padding-bottom: 24px;
  }
}

.team-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list__text {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding-left: 120px;
  padding-right: 120px;
}
@media screen and (min-width: 768px) {
  .list-social {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .list-social {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.list-social__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.list-social__link:hover, .list-social__link:focus {
  background-color: #2196f3;
}

.list-social__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.list-social__link:hover .list-social__icon, .list-social__link:focus .list-social__icon {
  fill: #ffffff;
}

.section-clients__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    min-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    min-width: 170px;
  }
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196f3;
}

.clients-list__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 106px;
  height: 62px;
  fill: #afb1b8;
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  scale: 0 1;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 94px 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    padding: 208px 159px;
  }
}

.modal {
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  max-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .modal {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
  }
}

.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal__close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(0, 0, 0);
}
.modal__btn-close:hover .modal__close-icon, .modal__btn-close:focus .modal__close-icon {
  fill: #2196f3;
}

.form-modal__title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form-modal__title {
    line-height: 1.15;
  }
}

.user-info {
  position: relative;
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.user-info__text {
  display: block;
  margin-bottom: 4px;
}

.user-info__input {
  padding: 12px 0px 12px 42px;
  width: 100%;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-info__input:hover {
  cursor: pointer;
}
.user-info__input:focus {
  border-color: #2196f3;
  outline: none;
}

.user-info__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-info__input:focus ~ .user-info__icon {
  fill: #2196f3;
}

.user-info--coments {
  margin-bottom: 20px;
}

.user-info__input--coment {
  resize: none;
  height: 120px;
  padding: 15px 15px;
}
.user-info__input--coment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-info__input--coment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-info__input--coment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-info__input--coment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.user-info__input--coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contract-checkbox {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .contract-checkbox {
    text-align: center;
    font-size: 14px;
    line-height: 1.7142857143;
    padding: 0px;
  }
}

.contract-checkbox__link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
}
@media screen and (max-width: 1199px) {
  .contract-checkbox__link {
    font-size: 12px;
    line-height: 1.6;
  }
}

.contract-checkbox__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #212121;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .contract-checkbox__icon {
    top: 3px;
    left: 11px;
  }
}
.contract-checkbox__input:checked ~ .contract-checkbox__icon {
  background-color: #188ce8;
  border-color: #188ce8;
}
.contract-checkbox__input:focus ~ .contract-checkbox__icon {
  border-color: #188ce8;
}

.form-modal__button-send {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  border-radius: 4px;
  border: 0px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form-modal__button-send:hover {
  background-color: #188ce8;
}

.nav__link--portfolio {
  color: #2196f3;
}
.nav__link--portfolio::after {
  content: "";
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 320px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item:nth-last-child(-n+2) {
    margin-top: 15px;
  }
}
@media screen and (max-width: 341px) {
  .filter-list__item:nth-last-child(-n+3) {
    margin-top: 15px;
  }
}

.filter-list__btn {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.filter-list__btn:hover, .filter-list__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project-list__item {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .project-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.project-list__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__thubm {
  position: relative;
  overflow: hidden;
}

.project-list__hidden-content {
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.project-list__link:hover .project-list__hidden-content, .project-list__link:focus .project-list__hidden-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-list__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list__text-filter {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */