.section-direction {
  @media screen and(max-width:1199px) {
    display: none;
  }
  padding-top: 0px;
}
.section-direction__title {
  @extend %work-team__title;
}
.direction-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.direction-list__item {
  width: calc((100% - 60px) / 3);
}
.direction-thumb {
  position: relative;
}
.direction-list__title {
  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  @extend %flex-center;
  @extend %title-uppercase;
}
